@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
   margin: 0;
   padding: 0;
   overflow-y: hidden;
}

img{
   width: 350px;
   height: 300px;
}

.fundo-tela-initial{
   background-image: url(imagens/gif-universo.gif);
   display: block;
   position: absolute;
   width: 100%;
   height: 100vh;
   overflow-y: hidden;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.6;
}

.conteudo-tela-initial{
   opacity: 1;
   position: relative;
   z-index: 2000;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 60px;
   height: 100vh;
   margin-bottom: 40px;
}

audio{
   opacity: 0;
   visibility: 0;
}

h2{
   text-align: center;
   color: white;
   font-family: 'Roboto Mono', monospace;
   font-size: 2rem;
   font-weight: bolder;
   padding: 7px 15px;
}

.btn{
   display: flex;
   gap:0 40px;
}

.askBianca{
   transition: 1s ease-in-out;
}

.askBianca.ativo{
   animation: show-right 1s forwards;
}

.imgInitial{
   transition: 1s ease-in-out;
}

.imgInitial.ativo{
   animation: show-right 1s forwards;
}

.btn button{
   background-color: red;
   color: white;
   cursor: pointer;
   font-size: 1rem;
   font-family: 'Roboto Mono', monospace;
   padding: 7px 35px;
   border: none;
}

.btn.ativo{
   transition: display 1s;
   display: none;
}

.fundo1{
   opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fundo1.ativo{
   background-image: url(imagens/fundo2.gif);
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2000;
   overflow-y: hidden;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
}

.fundo2{
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.fundo2.ativo{
   background-image: url(imagens/fundo7.gif);
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2000;
   overflow-y: hidden;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
}

p{
   color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   text-align: center;
   opacity: 0;
   transition: opacity 0.8s ease-in-out;
}

.text{
   gap: 40px 0;
   padding: 0 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.pMomentos1{
   margin-bottom: 80px;
   color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   text-align: center;
   display: none;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.pMomentos1.ativo{
   animation: show-up 1s forwards;
   display: block;
   opacity: 1;
}

.btnConfirmar{
   opacity: 0;
   display: none;
   transition: opacity 0.5s ease-in-out;
   border-radius: 6px;
   position: absolute;
   bottom: 200px;
   padding: 10px 25px;
   font-size: 1.1rem;
   background-color: red;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   cursor: pointer;
}

.btnConfirmar.ativo{
   animation: show-up 1s forwards;
   opacity: 1;
   display: block;
}

.imgsFundo2{
   transition: opacity 0.5s ease-in-out;
}

.imgsFundo2.remover{
   display: none;
}

.quatorze-frases{
   display: none;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.quatorze-frases.ativo{
   animation: show-bottom 1s forwards;
   margin-bottom: 120px;
   display: block;
   opacity: 1;
}

.spanQuatorze{
   color: rgb(219, 77, 77);
}

.btnConfirmar2{
   opacity: 0;
   display: none;
   transition: opacity 0.5s ease-in-out;
   border-radius: 6px;
   position: absolute;
   bottom: 150px;
   padding: 10px 25px;
   font-size: 1.1rem;
   background-color: red;
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   cursor: pointer;
}

.btnConfirmar2.ativo{
   animation: show-bottom 1s forwards;
   opacity: 1;
   display: block;
}

.fundo3{
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.fundo3.ativo{
   background-image: url(imagens/fundo5.gif);
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2000;
   overflow-y: hidden;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
}

.e-so-de-lembrar{
   transition: 0.5s ease-in-out;
}

.e-so-de-lembrar.remover{
   display: none;
}

.p4{
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.p4.ativo{
   opacity: 1;
}

.p4.absolute{
   display: none;
}

.imgsFundo3.absolute{
   display: none;
}

.imgsFundo3{
   height: 500px;
   height: 450px;
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.imgsFundo3.ativo{
   opacity: 1;
}

.imgsFundo3.remover{
   display: none;
}

.fundo4{
   opacity: 0;
   transition: opacity 0.5s ease-in-out;
}

.fundo4.ativo{
   background-image: url(imagens/fundo3.gif);
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 2000;
   overflow-y: hidden;
   overflow-x: hidden;
   top: 0;
   bottom: 0;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
}

@keyframes show-right {
   from{
      opacity: 0;
      transform: translate3d(-30px,0,0);
   }

   to{
      opacity: 1;
      transform: translate3d(0,0,0);
   }
}

@keyframes show-up {
   from{
      opacity: 0;
      transform: translate3d(0,30px,0);
   }

   to{
      opacity: 1;
      transform: translate3d(0,0,0);
   }
}

@keyframes show-bottom {
   from{
      opacity: 0;
      transform: translate3d(0,-30px,0);
   }

   to{
      opacity: 1;
      transform: translate3d(0,0,0);
   }
}
